<div data-section-id="{{ section.id }}" data-section-type="popups">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'newsletter' -%}
        {%- unless block.settings.show_only_on_index and template != 'index' -%}
          {%- unless block.settings.show_only_for_visitors and customer -%}
            {% capture popup_settings %}
              {
                "apparitionDelay": {{ block.settings.apparition_delay | json }},
                "showOnlyOnce": {{ block.settings.show_only_once | json }}
              }
            {% endcapture %}

            <aside class="modal modal--newsletter" data-popup-type="newsletter" data-popup-settings='{{ popup_settings }}' aria-hidden="true" {{ block.shopify_attributes }}>
              <div class="modal__dialog" role="dialog">
                <div class="popup-newsletter">
                  {%- if block.settings.title != blank -%}
                    <h3 class="popup-newsletter__title heading">{{ block.settings.title | escape }}</h3>
                  {%- endif -%}

                  <button class="popup-newsletter__close link" data-action="close-popup" aria-label="{{ 'general.accessibility.close' | t }}">
                    {%- render 'icon', icon: 'close' -%}
                  </button>

                  {%- if block.settings.content != blank -%}
                    <div class="popup-newsletter__content rte">
                      {{ block.settings.content }}
                    </div>
                  {%- endif -%}

                  {%- if block.settings.show_newsletter -%}
                    {%- form 'customer', id: 'newsletter-popup', class: 'form popup-newsletter__form' -%}
                      {%- if form.posted_successfully? -%}
                        <p class="alert alert--success alert--center">{{ 'general.popup.success' | t }}</p>
                      {%- else -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">

                        <div class="form__input-wrapper form__input-wrapper--labelled">
                          <input id="newsletter-popup[email]" type="email" class="form__field form__field--text" name="contact[email]" autofocus required="required">
                          <label for="newsletter-popup[email]" class="form__floating-label">{{ 'general.popup.email_placeholder' | t }}</label>
                        </div>

                        <button class="button button--primary button--full" type="submit">{{ 'general.popup.subscribe' | t }}</button>
                      {%- endif -%}
                    {%- endform -%}
                  {%- endif -%}
                </div>
              </div>
            </aside>
          {%- endunless -%}
        {%- endunless -%}

      {%- when 'schedule' -%}
        {%- unless block.settings.show_only_on_index and template != 'index' -%}
          {%- unless block.settings.show_only_for_visitors and customer -%}
            {% capture popup_settings %}
              {
                "apparitionDelay": {{ block.settings.apparition_delay | json }},
                "showOnlyOnce": {{ block.settings.show_only_once | json }}
              }
            {% endcapture %}
             
          
            <aside class="modal modal--newsletter" data-popup-type="schedule" data-popup-settings='{{ popup_settings }}' aria-hidden="true" {{ block.shopify_attributes }}>
              <div class="modal__dialog" role="dialog" style="color:{{ block.settings.text_color_body }},background-color:{{ block.settings.background }}">
                <div class="popup-newsletter">
                  {%- if block.settings.title != blank -%}
                    <h3 class="popup-newsletter__title heading" style="color:{{ block.settings.text_color_title }}">{{ block.settings.title | escape }}</h3>
                  {%- endif -%}

                  <button class="popup-newsletter__close link" data-action="close-popup" aria-label="{{ 'general.accessibility.close' | t }}">
                    {%- render 'icon', icon: 'close' -%}
                  </button>

                  {%- if block.settings.content != blank -%}
                    <div class="popup-newsletter__content rte">
                      {{ block.settings.content }}
                    </div>
                  {%- endif -%}

                </div>
              </div>
            </aside>
          {%- endunless -%}
        {%- endunless -%}

      {%- when 'exit' -%}
        {%- unless block.settings.show_only_for_visitors and customer -%}
          {% capture popup_settings %}
            {
              "showOnlyOnce": {{ block.settings.show_only_once | json }}
            }
          {% endcapture %}

          <aside class="modal modal--exit-popup" data-popup-type="exit" data-popup-settings='{{ popup_settings }}' aria-hidden="true" {{ block.shopify_attributes }}>
            <div class="modal__dialog" role="dialog">
              <div class="exit-popup">
                {%- if block.settings.title != blank -%}
                  <h3 class="exit-popup__title heading">{{ block.settings.title | escape }}</h3>
                {%- endif -%}

                {%- if block.settings.subheading != blank -%}
                  <p class="exit-popup__subheading heading">{{ block.settings.subheading | escape }}</p>
                {%- endif -%}

                <button class="exit-popup__close link" data-action="close-popup" aria-label="{{ 'general.accessibility.close' | t }}">
                  {%- render 'icon', icon: 'close' -%}
                </button>

                {%- assign is_form_valid = false -%}

                {%- if block.settings.show_newsletter -%}
                  {%- form 'customer', id: 'exit-popup', class: 'form exit-popup__form' -%}
                    {%- if form.posted_successfully? -%}
                      {%- assign is_form_valid = true -%}
                      <p class="alert alert--success alert--center">{{ block.settings.success_message }}</p>
                    {%- else -%}
                      <input type="hidden" name="contact[tags]" value="newsletter">

                      <div class="form__input-wrapper form__input-wrapper--labelled">
                        <input id="exit-popup[email]" type="email" class="form__field form__field--large form__field--text" name="contact[email]" autofocus required="required">
                        <label for="exit-popup[email]" class="form__floating-label">{{ 'general.popup.email_placeholder' | t }}</label>
                      </div>

                      <button class="button button--primary button--extra-large button--full" type="submit">{{ block.settings.button_text | escape }}</button>
                    {%- endif -%}
                  {%- endform -%}
                {%- endif -%}

                {%- if block.settings.close_message != blank and is_form_valid == false -%}
                  <button class="exit-popup__pay-more link link--accented" data-action="close-popup">{{ block.settings.close_message }}</button>
                {%- endif -%}
              </div>
            </div>
          </aside>
        {%- endunless -%}
      {%- when 'survey' -%}
        <div class="btn-feedback__container">
            <button class="btn-feedback__label" data-popup-type="survey">
                <div class="btn-feedback__text">{{ block.settings.btn_feedback_text | escape  }}</div>
            </button>
        </div>
        <div class='cu-modal' aria-hidden="true"> 
          <div class="cu-modal__dialog" role="dialog">
              <div class="popup">
                  <button class="popup__close link" data-action="close-popup" aria-label="Close">
                      <svg focusable="false" class="icon icon--close " viewBox="0 0 19 19" role="presentation">
                      <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd"></path>
                      </svg>
                  </button>
                  <div id="popup__content">
                      {% assign iframSource = block.settings.ifram_url | default: undefined %}
                      {% assign utmSource = "?utm_source=" | append : block.settings.source | default: undefined %}
                      {% assign utmContent = "&utm_content=" | append: block.settings.content | default: undefined %}

                      <iframe data-src="{{ iframSource | append: utmSource | append: utmContent }}" width="100%" height="520px" frameborder="0" class="lazyload" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>


<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

<script>

// create custome canvas
var myCanvas = document.createElement('canvas');
myCanvas.style.position = 'fixed'
myCanvas.style.top = '0px'
myCanvas.style.left = '0px'
myCanvas.style.pointerEvents = 'none'
myCanvas.style.zIndex = '10'
myCanvas.style.width = '100%'
myCanvas.style.height = '100%'
document.querySelector('[data-popup-type="newsletter"] .modal__dialog').appendChild(myCanvas);


var myConfetti = confetti.create(myCanvas, {
    resize: true,
});
var end,isHidden ;

function frame() {
  // launch a few confetti from the left edge
  myConfetti({
    particleCount: 3,
    angle: 80,
    spread: 55,
    origin: { x: 0 },
  });
  // and launch a few from the right edge
  myConfetti({
    particleCount: 3,
    angle: 110,
    spread: 55,
    origin: { x: 1 },
  });

  if (Date.now() < end) {
    requestAnimationFrame(frame);
  };

}
function checkVisibilityPopup (){
  return document.querySelector('[data-popup-type="newsletter"]').getAttribute('aria-hidden');
}
var myInterval = setInterval(function(){
  isHidden = checkVisibilityPopup();
  if(isHidden=='false'){
      // do this for 2 seconds
      var duration = 2 * 1000;
      end = Date.now() + duration; 
     requestAnimationFrame(frame);
     clearInterval(myInterval);
    };
    {% comment %} console.log('isHidden',isHidden,!isHidden); {% endcomment %}
},1000)

</script>
{% schema %}
{
  "name": "Popups",
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Newsletter popup",
      "type": "newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_only_on_index",
          "label": "Show only on home page",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_only_for_visitors",
          "label": "Disable for account holders",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_only_once",
          "label": "Show once to visitors",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Popup"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>You can use this popup to display some useful information to your customers.</p>"
        },
        {
          "type": "checkbox",
          "id": "show_newsletter",
          "label": "Show newsletter form",
          "info": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1).",
          "default": true
        },
        {
          "type": "range",
          "id": "apparition_delay",
          "min": 0,
          "max": 15,
          "step": 1,
          "unit": "sec",
          "label": "Delay until the popup appears",
          "default": 5
        }
      ]
    },
    {
      "name": "Schedule popup",
      "type": "schedule",
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "text_color_title",
          "label": "title",
          "default": "#121251"
        },
        {
          "type": "color",
          "id": "text_color_body",
          "label": "body",
          "default": "#121251"
        },
        {
          "type": "checkbox",
          "id": "show_only_on_index",
          "label": "Show only on home page",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_only_for_visitors",
          "label": "Disable for account holders",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_only_once",
          "label": "Show once to visitors",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Popup"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>You can use this popup to display some useful information to your customers.</p>"
        },
        {
          "type": "range",
          "id": "apparition_delay",
          "min": 0,
          "max": 15,
          "step": 1,
          "unit": "sec",
          "label": "Delay until the popup appears",
          "default": 5
        }
      ]
    },
    {
      "name": "Exit popup",
      "type": "exit",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Enable an exit popup if user attempts to navigate away from current page as a means of influencing user action on store."
        },
        {
          "type": "paragraph",
          "content": "Only visible on desktop."
        },
        {
          "type": "checkbox",
          "id": "show_only_for_visitors",
          "label": "Disable for account holders",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_only_once",
          "label": "Show once to visitors",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Get 15% off"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "on your next order + exclusive offers"
        },
        {
          "type": "header",
          "content": "Newsletter"
        },
        {
          "type": "checkbox",
          "id": "show_newsletter",
          "label": "Show sign up form",
          "default": true
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Get my 15% off"
        },
        {
          "type": "text",
          "id": "success_message",
          "label": "Success message",
          "info": "Text displayed after the customer has entered their email.",
          "default": "You will receive soon an email containing your discount code!"
        },
        {
          "type": "text",
          "id": "close_message",
          "label": "Close message",
          "default": "No thanks, I'd rather pay more"
        }
      ]
    },
    {
      "name":"Survey popup",
      "type": "survey",
      "limit": 1,
      "settings":[
         {
          "type": "text",
          "id": "ifram_url",
          "label": "base URL embed document",
          "default": "https://marketing.vicinitymart.com"
        },
        {
          "type": "text",
          "id": "source",
          "label": "utm source",
          "default": "general"
        },
        {
          "type": "text",
          "id": "content",
          "label": "utm content",
          "default": "general"
        },
         {
          "type": "text",
          "id": "btn_feedback_text",
          "label": "feedback button text",
          "default": "feedback"
        }
      ]
    }
  ]
}
{% endschema %}